body {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size:14px;
    font-style:normal;

    background-color:white;
    color:#222222;
    text-decoration:none;
    line-height:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    margin-left:5%;
    margin-right:5%;
    }

h1  {
    font-size:20px;
    }

h2  {
    font-size:16px;
    }

a   {
    color:#2f72b0;
    font-weight:bold;

    /* without underline */
    text-decoration:none;
    }

a:hover {
    background-color:#ffdeff;
    color:red;
    }
    
a:visited {
    color:#551A8B;
    font-weight:bold;
}

.nocolor{
    background-color:white;
    color:white;
    }

a:hover.nocolor{
    background-color:white;
    color:white;
    }

.table{
    font-size:12px;

    vertical-align:top;

    border-width:thin;
    border-style:solid;
    border-color:blue;
    background-color:#F2F2F2;

    padding-top:2px;
    padding-bottom:2px;
    padding-left:5px;
    padding-right:5px;

    /* small border */
    border-collapse:collapse;
    /* no wrap
    white-space:nowrap;*/

    }

